<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="Ecommerce.Utilities.Listners"></listener>	
	</listeners>
<parameter name="Browser" value="Chrome"></parameter>
  <test thread-count="5" name="Test">
    <classes>
      <!--<class name="Ecommerce.TestCases.LoginTestCase"/>
     <class name="Ecommerce.TestCases.AddToCartTestCase"/>
      <class name="Ecommerce.TestCases.LoginDataTestCase"/>
      <class name="Ecommerce.TestCases.LoginTestCase"/>-->
      <class name="Ecommerce.TestCases.AddToWishList"/>
      <class name="Ecommerce.TestCases.VerifyVoteButton"/>
       <class name="Ecommerce.TestCases.VerifyFeatureProdTestCase"/>
       <class name="Ecommerce.TestCases.VoteTestCase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
